/* Stile per il contenitore principale */
.card-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Stile per i messaggi di errore */
.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Stile per il bottone di apertura creazione carta */
.open-create-button {
  margin-bottom: 20px;
}

/* Stile per la sezione di creazione carta */
.open-create-button button,
.edit-dialog button {
  margin-right: 10px;
}

/* Stile per la tabella delle carte */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #f1f1f1;
}

/* Stile per le immagini delle carte */
.card-image {
  width: 100px;
  height: auto;
  border-radius: 4px;
}

/* Stile per la sezione di modifica della carta */
.edit-dialog {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.edit-dialog h3 {
  margin-top: 0;
}


.edit-actions {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

textarea {
  min-height: 150px;
  resize: vertical; /* Permette di ridimensionare il campo verticalmente */
}


.file-input-container {
  position: relative;
  display: inline-block;
  margin-left: 24px;
}

input[type="file"] {
  display: none; /* Nascondi l'input di tipo file */
}

.file-label {
  display: inline-block;
  padding: 10px 16px; /* Simile ai pulsanti Angular Material */
  cursor: pointer;
  background-color: #3f51b5; /* Colore simile ai pulsanti 'primary' */
  color: #ffffff; /* Testo bianco come nei pulsanti 'primary' */
  border-radius: 4px;
  border: none;
  margin-top: 8px;
  margin-right: 16px; /* Spostamento verso sinistra */
  text-align: center;
  font-size: 14px;
  font-weight: 500; /* Simile ai pulsanti Angular Material */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12); /* Simile all'ombra dei pulsanti */
  transition: background-color 0.3s;
}

.file-label:hover {
  background-color: #303f9f; /* Colore di hover simile */
}


/* Stile per il messaggio di autorizzazione */
.unauthorized-message {
  color: #ff0000;
  font-weight: bold;
}

/* Messaggio di errore */
.error-message {
  color: #d9534f;
  background-color: #f2dede;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  text-align: center;
}
