<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav">
    <mat-nav-list>
      <!-- Altri elementi del menu -->
      <mat-list-item routerLink="/home" (click)="sidenav.close()">
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>Home</h3>
      </mat-list-item>
      <mat-list-item routerLink="/area-privata" (click)="sidenav.close()">
        <mat-icon matListIcon>person</mat-icon>
        <h3 matLine>Area Privata</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Barra degli strumenti con il pulsante di menu e logout -->
    <mat-toolbar>
      <!-- Pulsante del menu -->
      <button mat-icon-button class="menu-button" aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <!-- Nome del sito -->
      <span class="site-title">Magic Card Emporium</span>

      <span class="example-spacer"></span>

      <!-- Messaggio di benvenuto -->
      <span>Benvenuto</span>

      <!-- Pulsante logout -->
      <button mat-button class="logout-button" (click)="onClick()">
        <mat-icon>arrow_forward</mat-icon>
        Log Out
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <div class="quick-links">
        <h3>Link Rapidi</h3>
        <a mat-button routerLink="home">Vai alla Home</a>
        <a mat-button routerLink="area-privata">Visualizza Profilo</a>
        <!-- Aggiungi altri link rapidi -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
