<div class="catalog-container">

  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <!-- Search Bar for Card Name -->
  <mat-form-field appearance="fill">
    <mat-label>Ricerca per nome della carta</mat-label>
    <input matInput (keyup)="searchCards($event)" placeholder="Inserisci il nome della carta">
  </mat-form-field>

  <!-- Dropdown for Set Code -->
  <mat-form-field appearance="fill">
    <mat-label>Seleziona il codice del set</mat-label>
    <mat-select [(value)]="selectedSetCode" (selectionChange)="getCardsBySetCode($event.value)">
      <mat-option *ngFor="let setCode of setCodes" [value]="setCode">
        {{setCode}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Sorting Buttons -->
  <div class="sorting-buttons">
    <button mat-button (click)="toggleSort('name')">
      Nome
      <mat-icon *ngIf="currentSortField === 'name'">{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
    <button mat-button (click)="toggleSort('prezzo')">
      Prezzo
      <mat-icon *ngIf="currentSortField === 'prezzo'">{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
    <button mat-button (click)="toggleSort('rarity')">
      Rarità
      <mat-icon *ngIf="currentSortField === 'rarity'">{{ sortDirection === 'asc' ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
    </button>
  </div>

  <!-- Table for Displaying Cards -->
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let card"> {{card.name}} </td>
    </ng-container>

    <!-- Rarity Column -->
    <ng-container matColumnDef="rarity">
      <th mat-header-cell *matHeaderCellDef> Rarità </th>
      <td mat-cell *matCellDef="let card"> {{card.rarity}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Prezzo </th>
      <td mat-cell *matCellDef="let card"> {{card.prezzo | currency:'EUR':'symbol'}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantità </th>
      <td mat-cell *matCellDef="let card"> {{card.quantity}} </td>
    </ng-container>

    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Immagine </th>
      <td mat-cell *matCellDef="let card">
        <img *ngIf="imageUrls[card.id]" [src]="imageUrls[card.id]" alt="{{card.name}}" class="card-image"/>
      </td>
    </ng-container>


    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Azioni </th>
      <td mat-cell *matCellDef="let card">
        <button mat-raised-button color="primary" class="view-button" (click)="viewCardDetails(card.id)">View</button>
      </td>
    </ng-container>

    <!-- Quantity Block Column -->
    <ng-container matColumnDef="quantityBlock">
      <th mat-header-cell *matHeaderCellDef> Quantità </th>
      <td mat-cell *matCellDef="let card">
        <div class="quantity-block">
          <!-- Input for selecting quantity -->
          <input type="number" [(ngModel)]="selectedQuantity" min="1" max="{{card.quantity}}" style="width: 60px;">
          <!-- Static display of available quantity -->
          <span>su {{card.quantity}}</span>
        </div>
      </td>
    </ng-container>

    <!-- Add to Cart Column -->
    <ng-container matColumnDef="addToCart">
      <th mat-header-cell *matHeaderCellDef> Add </th>
      <td mat-cell *matCellDef="let card">
        <button class="add-to-cart-button" (click)="addToCart(card)">
          Add
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>


    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Pagination Controls -->
  <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" (page)="onPageChange($event)">
  </mat-paginator>
</div>

